{% load static %}

<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Skill-Check Test Yorself</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<div id="wrapper">
    <header>
        <a href="/"><img src="{% static 'images/logo1.png' %}" alt="Whitesquare logo"></a>

    </header>
    <nav>
        <ul class="top-menu">
            <li class="active">MENU</li>
            <li><a href="{% url 'main_page' %}">HOME</a></li>
            <li><a href="{% url 'help_page' %}">HELP</a></li>
            <li><a href="{% url 'tests_page' %}">TEST`S</a></li>
            <li><a href="{% url 'login' %}">LOGIN</a></li>
            <li><a href="{% url 'register' %}">REGISTER</a></li>
        </ul>
    </nav>
    <div id="heading">
        <h1>Test Yorself</h1>
    </div>
    <aside>
        <nav>
            <ul class="aside-menu">
                <li class="active"><font face="Cinzel" size="3">Link`s on ours Test`s</font></li>
                <li><font face="Cinzel" size="3"><a href="{% url 'tests_by_level' level=1 %}">A LEVEL TEST</a></font>
                </li>
                <li><font face="Cinzel" size="3"><a href="{% url 'tests_by_level' level=2 %}">B LEVEL TEST</a></font>
                </li>
                <li><font face="Cinzel" size="3"><a href="{% url 'tests_by_level' level=3 %}">C LEVEL TEST</a></font>
                </li>
            </ul>
        </nav>
    </aside>
    <section>
        <blockquote>
            <p id="quote">
                &ldquo;Test C&rdquo;
            </p>
            <br/>
            <br>
            {% for q in questions %}
            {% if q.order > 29 %}
            <form action="{% url 'tests_by_level_result' level=3 %}" method="get">
                <div>
                    <p><font face="Cinzel" color="black" size="5">{{q.text}}</font></p>
                    <br/>
                    <input type="checkbox" id="choice1" name="answer" value="answer1">
                    <label for="choice1"><font face="Cinzel" color="white" size="4">{{q.answer1}}</font></label>
                    <br/>
                    <input type="checkbox" id="choice2" name="answer" value="answer2">
                    <label for="choice2"><font face="Cinzel" color="white" size="4">{{q.answer2}}</font></label>
                    <br/>
                    <input type="checkbox" id="choice3" name="answer" value="answer3">
                    <label for="choice3"><font face="Cinzel" color="white" size="4">{{q.answer3}}</font></label>
                    <br/>
                    <input type="checkbox" id="choice4" name="answer" value="answer4">
                    <label for="choice4"><font face="Cinzel" color="white" size="4">{{q.answer4}}</font></label>
                </div>
                {% endif %}
                {% endfor %}
                <br/>
                <input type="submit" class="input-endt" id="end-test" name="endtest" value="Завершить тест">
            </form>
        </blockquote>

    </section>
</div>
<footer>
    <div id="footer">
        <div id="twitter">
            <h3>DISCLAIMER</h3>
            <p><font face="Cinzel" color="white" size="3">This site was specially designed to gain experience in web
                programming.Summer Practice 2022 KFU ITIS</font></p>
        </div>
        <div id="social">
            <h3>SOCIAL NETWORK`S</h3>
            <a href="https://vk.com/fantacyfanatic"><img src="{% static 'images/vk.png' %}" alt=" ">Artoym</a>
            <a href="https://vk.com/id313094917"><img src="{% static 'images/vk.png' %}" alt=" ">Ilshat</a>
            <a href="https://vk.com/ikutin99"><img src="{% static 'images/vk.png' %}" alt=" ">Ivan</a>
        </div>
        <div id="footer-logo">
            <a href="/"><img src="{% static 'images/logo2t.jpg' %}" alt="logo"></a>
        </div>
    </div>
</footer>
</body>
</html>