{% load static %}

<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Skill-Check Test yorself</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<div id="wrapper">
    <header>
        <a href="/"><img src="{% static 'images/footer-logo.jpg' %}" alt="Whitesquare logo"></a>

    </header>
    <nav>
        <ul class="top-menu">
            <li class="active">MENU</li>
            <li><a href="{% url 'main_page' %}">HOME</a></li>
            <li><a href="{% url 'help_page' %}">HELP</a></li>
            <li><a href="{% url 'tests_page' %}">TESTS</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'register' %}">Register</a></li>
        </ul>
    </nav>
    <div id="heading">
        <h1>Test yorself</h1>
    </div>
    <aside>
        <nav>
            <ul class="aside-menu">
                <li class="active">Links on ours Tests</li>
                <li><a href="{% url 'tests_by_level' level=1 %}">Link on test 1</a></li>
                <li><a href="{% url 'tests_by_level' level=2 %}">Link on test 2</a></li>
                <li><a href="{% url 'tests_by_level' level=3 %}">Link on test 3</a></li>
            </ul>
        </nav>
    </aside>
    <section>
        <blockquote>
            <p id="quote">
                &ldquo;Test yourself&rdquo;
            </p>
            <br>
            {% for q in questions %}
            {% if q.order > 30 %}
            <form action="#" method="post">
                <div>
                    <p>{{q.text}}</p>
                    <br/>
                    <input type="radio" id="choice1" name="answer" value="answer1">
                    <label for="choice1">{{q.answer1}}</label>
                    <br/>
                    <input type="radio" id="choice2" name="answer" value="answer2">
                    <label for="choice2">{{q.answer2}}</label>
                    <br/>
                    <input type="radio" id="choice3" name="answer" value="answer3">
                    <label for="choice3">{{q.answer3}}</label>
                    <br/>
                    <input type="radio" id="choice4" name="answer" value="answer4">
                    <label for="choice4">{{q.answer4}}</label>
                </div>
            </form>
            {% endif %}
            {% endfor %}
            <br/>
            <div>
                <br/>
                <input type="submit" class="input-endt" id="end-test" name="endtest" value="Завершить тест">
            </div>
        </blockquote>

    </section>
</div>
<footer>
    <div id="footer">
        <div id="twitter">
            <h3>TWITTER FEED</h3>
            <time datetime="2012-10-23"><a href="#">5 july</a></time>
            <p>In ultricies pellentesque massa a porta. Aliquam ipsum enim, hendrerit ut porta nec, ullamcorper et
                nulla. In eget mi dui, sit amet scelerisque nunc. Aenean aug</p>
        </div>
        <div id="social">
            <h3>SOCIAL NETWORKS</h3>
            <a href="http://twitter.com/" class="social-icon twitter"></a>
            <a href="http://facebook.com/" class="social-icon facebook"></a>
            <a href="http://plus.google.com/" class="social-icon google-plus"></a>
            <a href="http://vimeo.com/" class="social-icon-small vimeo"></a>
            <a href="http://youtube.com/" class="social-icon-small youtube"></a>
            <a href="http://flickr.com/" class="social-icon-small flickr"></a>
            <a href="http://instagram.com/" class="social-icon-small instagram"></a>
            <a href="/rss/" class="social-icon-small rss"></a>
        </div>
        <div id="footer-logo">
            <a href="/"><img src="{% static 'images/footer-logo.jpg' %}" alt="Whitesquare logo"></a>
            <p>Copyright &copy; 2022 Whitesquare.</p>
        </div>
    </div>
</footer>
</body>
</html>