{% extends 'testenglish/base.html' %}
{% load static %}

{% block content_aside_photos %}
<h2>GO THROUGH AUTHORIZATION</h2>
<p>
    <img src="{% static 'images/login.jpg' %}" width="230" height="180" alt="Our offices">
</p>
{% endblock %}

{% block content %}
<section>
    <blockquote>
        <font face="Cinzel" color="#ffffff" size="6">Authorization</font>
    </blockquote>
    <br/>
    <br/>
    <div>
        <nav>
            <ul class="join-text">
                <li><font face="Cinzel" size="4" color="#3F92D2">Use your account Skill-Check</font></li>
            </ul>
            <br/>
            <form action="#" method="post">
                <input class="input-login" placeholder="           Input your login " required name="login"
                       type="text">
                <br/>
                <br/>
                <input class="input-password" placeholder="        Input your password " required name="password"
                       type="password">
                <p class="join-remind"><font face="Cinzel" size="3" color="#3F92D2">Forgot your
                    password?</font><br/><a
                        target="_blank" class="help-text"
                        href="https://sun9-53.userapi.com/impf/c849528/v849528779/dc8c8/hq2QUO9qHZI.jpg?size=800x450&quality=96&keep_aspect_ratio=1&background=000000&sign=c4a0895ac2da0b6fe1d3fef71af71156&type=video_thumb"><font
                        face="Cinzel" size="3" color="#36D986">Click
                    here</font></a></p>
                <input id="join" class="input-join" type="submit" value="Join now" name="Вход">
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
            </form>
        </nav>
    </div>
</section>
{% endblock %}