{% load static %}

<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Skill-Check Register</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<div id="wrapper">
    <header>
        <a href="/"><img src="{% static 'images/logo1.png' %}" alt="logo"></a>

    </header>
    <nav>
        <ul class="top-menu">
            <li class="active">MENU</li>
            <li><a href="{% url 'main_page' %}">HOME</a></li>
            <li><a href="{% url 'help_page' %}">HELP</a></li>
            <li><a href="{% url 'tests_page' %}">TEST`S</a></li>
            <li><a href="{% url 'login' %}">LOGIN</a></li>
            <li><a href="{% url 'register' %}">REGISTER</a></li>
        </ul>
    </nav>
    <div id="heading">
        <h1>REGISTER</h1>
    </div>
    <aside>
        <nav>
            <ul class="aside-menu">
                <li class="active"><font face="Cinzel" size="3">Link`s on ours Test`s</font></li>
                <li><font face="Cinzel" size="3"><a href="{% url 'tests_by_level' level=1 %}">A LEVEL TEST</a></font>
                </li>
                <li><font face="Cinzel" size="3"><a href="{% url 'tests_by_level' level=2 %}">B LEVEL TEST</a></font>
                </li>
                <li><font face="Cinzel" size="3"><a href="{% url 'tests_by_level' level=3 %}">C LEVEL TEST</a></font>
                </li>
            </ul>
        </nav>
        <h2>REGISTER YOUR ACCOUNT</h2>
        <p>
            <img src="{% static 'images/morf.jpg' %}" width="230" height="180" alt="Our offices">
        </p>
    </aside>
    <section>
        <h2>Registration</h2>
        <br/>
        <div>
            <nav>
                <ul class="join-reg">
                    <li><font face="Cinzel" color="#3F92D2" size="4">Registration</font></li>
                </ul>
                <ul class="join-text-r">
                    <li><font face="Cinzel" color="#3F92D2" size="4">Create your Skill-Check account!</font></li>
                </ul>
                <form action="#" method="post">
                    <input class="input-login" placeholder="           Input your login " required name="login"
                           type="text">
                    <br/>
                    <br/>
                    <input class="input-mail" placeholder="           Input your email " required name="email"
                           type="email">
                    <br/>
                    <br/>
                    <input class="input-password" placeholder="        Input your password " required name="password"
                           type="password">
                    <br/>
                    <br/>
                    <input class="input-password" placeholder="      Repeat your password " required name="password"
                           type="password">
                    <br/>
                    <br/>
                    <br/>
                    <input id="reg" class="input-reg" type="submit" value="Registration" name="Регистрация">
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                </form>
            </nav>
        </div>
    </section>

</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<footer>
    <div id="footer">
        <div id="twitter">
            <h3>DISCLAIMER</h3>
            <p><font face="Cinzel" color="white" size="3">This site was specially designed to gain experience in web
                programming.Summer Practice 2022 KFU ITIS</font></p>
        </div>
        <div id="social">
            <h3>SOCIAL NETWORK`S</h3>
            <a href="https://vk.com/fantacyfanatic"><img src="{% static 'images/vk.png' %}" alt=" ">Artoym</a>
            <a href="https://vk.com/id313094917"><img src="{% static 'images/vk.png' %}" alt=" ">Ilshat</a>
            <a href="https://vk.com/ikutin99"><img src="{% static 'images/vk.png' %}" alt=" ">Ivan</a>
        </div>
        <div id="footer-logo">
            <a href="/"><img src="{% static 'images/logo2t.jpg' %}" alt="logo"></a>
        </div>
    </div>
</footer>
</body>
</html>