{% load static %}

<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Skill-Check Test`s</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<div id="wrapper">
    <header>
        <a href="/"><img src="{% static 'images/logo1.png' %}" alt="logo"></a>

    </header>
    <nav>
        <ul class="top-menu">
            <li class="active">MENU</li>
            <li><a href="{% url 'main_page' %}">HOME</a></li>
            <li><a href="{% url 'help_page' %}">HELP</a></li>
            <li><a href="{% url 'tests_page' %}">TEST`S</a></li>
            <li><a href="{% url 'login' %}">LOGIN</a></li>
            <li><a href="{% url 'register' %}">REGISTER</a></li>
        </ul>
    </nav>
    <div id="heading">
        <h1>Test`s</h1>
    </div>
    <aside>
        <nav>
            <ul class="aside-menu">
                <li class="active"><font face="Cinzel" size="3">Link`s on ours Test`s</font></li>
                <li><font face="Cinzel" size="3"><a href="{% url 'tests_by_level' level=1 %}">A LEVEL TEST</a></font>
                </li>
                <li><font face="Cinzel" size="3"><a href="{% url 'tests_by_level' level=2 %}">B LEVEL TEST</a></font>
                </li>
                <li><font face="Cinzel" size="3"><a href="{% url 'tests_by_level' level=3 %}">C LEVEL TEST</a></font>
                </li>
            </ul>
        </nav>
        <h2>LEARN ENGLISH NOW</h2>
        <p>
            <img src="{% static 'images/eng.jpg' %}" width="230" height="180" alt="Our offices">
        </p>
    </aside>
    <section>
        <blockquote>
            <p>
                <font face="Cinzel" color="" size="6">
                    &ldquo;The boundaries of my language are the boundaries of my world&rdquo;
                </font>
            </p>
            <cite>Maybe Seer</cite>
        </blockquote>

        <p>
            <font face="Cinzel" color="" size="5">
                Why do I need to learn English? Not just for the sake of a business career. If you dream of becoming a
                cool scientist, a medical professional or a highly qualified specialist, you just need to learn English.
            </font>
        </p>
        <p>
            <font face="Cinzel" color="" size="5">
                Knowledge of a foreign language really gives a significant advantage when looking for a job. Such
                specialists can claim a large salary from the start. And many international and IT companies do not even
                consider applicants who cannot speak English fluently.
            </font>
        </p>
        <p>
            <font face="Cinzel" color="" size="5">
                One of the reasons to learn English is the opportunity to watch movies and read books in the original.
            </font>
        </p>
        <p>
            <font face="Cinzel" color="" size="5">
                Our tests will help you find out your level of English, as well as improve it below are 3 tests for each
                level.
            </font>
        </p>

        <figure>
            <img src="{% static 'images/testpic.jpg' %}" width="320" height="175" alt="">
            <div>
                <nav>
                    <ul class="button-test1">
                        <li><a href="{% url 'tests_by_level' level=1 %}"><font face="Cinzel" color="#5CCCCC" size="4">Test A
                            Start</font></a></li>
                    </ul>
                </nav>
            </div>
        </figure>
        <figure>
            <img src="{% static 'images/testpic.jpg' %}" width="320" height="175" alt="">
            <div>
                <nav>
                    <ul class="button-test1">
                        <li><a href="{% url 'tests_by_level' level=2 %}"><font face="Cinzel" color="#5CCCCC" size="4">Test B
                            Start</font></a></li>
                    </ul>
                </nav>
            </div>
        </figure>
        <br/>
        <br/>
        <br/>
        <figure id="picture">
            <img src="{% static 'images/testpic.jpg' %}" width="320" height="175" alt="">
            <div>
                <nav>
                    <ul class="button-test1">
                        <li><a href="{% url 'tests_by_level' level=3 %}"><font face="Cinzel" color="#5CCCCC" size="4">Test C
                            Start</font></a></li>
                    </ul>
                </nav>
            </div>
        </figure>


        <h2>About Test</h2>
        <div>
            <ul>
                <li><font face="Cinzel" color="#4962D6" size="4">A — Basic Knowledge (Basic User)</font></li>
                <li><font face="Cinzel" color="#4962D6" size="4">B — Independent ownership (Independent User)</font>
                </li>
                <li><font face="Cinzel" color="#4962D6" size="4">C — Fluency (Proficient User)</font></li>
            </ul>
        </div>
    </section>
</div>
<footer>
    <div id="footer">
        <div id="twitter">
            <h3>DISCLAIMER</h3>
            <p><font face="Cinzel" color="white" size="3">This site was specially designed to gain experience in web
                programming.Summer Practice 2022 KFU ITIS</font></p>
        </div>
        <div id="social">
            <h3>SOCIAL NETWORK`S</h3>
            <a href="https://vk.com/fantacyfanatic"><img src="{% static 'images/vk.png' %}" alt=" ">Artoym</a>
            <a href="https://vk.com/id313094917"><img src="{% static 'images/vk.png' %}" alt=" ">Ilshat</a>
            <a href="https://vk.com/ikutin99"><img src="{% static 'images/vk.png' %}" alt=" ">Ivan</a>
        </div>
        <div id="footer-logo">
            <a href="/"><img src="{% static 'images/logo2t.jpg' %}" alt="logo"></a>
        </div>
    </div>
</footer>
</body>
</html>